
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rripp.pocketmd"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="rripp.pocketmd.app.PocketMDApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
		
        <!-- splash screen -->
        <activity 
            android:name="rripp.pocketmd.userinterface.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- main activity -->
        <activity 
            android:name="rripp.pocketmd.userinterface.MainActivity" 
            android:label="@string/app_name"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
        </activity>
	</application>
</manifest>
